
* {
box-sizing:border-box;
padding: 0;
margin: 0;

}

header {
background-color: lightblue;
color: white;
padding: 80px;
font-family: 'Times New Roman', Times, serif;
background-size: 1200px;
}

.About-Me {
    display: flex;
    flex-direction:row;
    padding:1.5rem;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: 2rem;
    padding: 16px;
}

a{
    color:white
}
body{
    background-color:white;
}

h3 {
    font-family:'Times New Roman', Times, serif ;
    color:rgb(51, 51, 214);
    font-size: 18px;
}

.About-Me-Content {
    width:70rem;
    padding:1rem;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    line-height: 1.2;
    width:100%;
}
.About-Me-Image {
    min-width:20rem;
    max-width:30rem;
}

.resizeimg1 {
    width:100%;
    margin: 0 16px 16px 0px;
}

.resizeimg2 {
    width:500px;
    height: auto;
} 

.resizeimg3 {
    width: 250px;
    height:auto;
}

li {
    display: inline-block;
}

img {
    display: block;
    width: 50%;
    max-width: 100%;
    height: auto;
}


.card {
    padding:1.5rem;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    gap:1rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
}

footer {    /*The footer is its own section */
    background-color:lightblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}
/*The media queries help with the different screen sizes */
@media screen and (max-width:992px) {
    .card {
        width: 50%;
    }

}
@media screen and (max-width:768px) {
    .card {
        width:100%;
    }

    .About-Me {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:1rem;
    }

    .About-Me-Content{
        width:30rem;
    }

    p{
        font-size:1em;
    }

}